nav {
  background-color: #33a99f;
}
nav img {
  height: 40px;
}
nav .navbar-text {
  line-height: 1;
}
#logout {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #67081f;
}
dd p {
  line-height: 1;
}
.w-47-6 {
  width: 47.6%;
}
.footer {
  background-color: #33a99f;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
}
