body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-border {
  border-top: 1px solid #dee2e6;
}

.bottom-border {
  border-bottom: 1px solid #dee2e6;
}

nav {
  background-color: #33a99f;
}
nav img {
  height: 40px;
}
nav .navbar-text {
  line-height: 1;
}

.dark-red {
  color: #64172d;
}
button.dark-red:hover {
  color: #9a3b56;
}

.primary-btn-outline {
  border: 1px solid #33a99f;
  border-radius: 5px;
  color: #64172d;
}
.primary-btn-outline:hover {
  background-color: #33a99f;
  color: #64172d;
}

.primary-btn {
  background-color: #33a99f;
  color: #ffffff;
}

.primary-btn:hover {
  background-color: #257770;
}

.secondary-btn {
  background-color: #03a9ca;
  color: #ffffff;
}

.secondary-btn:hover {
  background-color: #007991;
}

.bg-none {
  background-color: inherit;
}

.main-header {
  min-width: 440px;
}

.logo-banner {
  width: 370px;
}

.xs-logo {
  width: 50px;
}

.run-table thead th {
  border-top: 0;
}

.clickable {
  cursor: pointer;
}

.runInfoLogo {
  height: 40px;
}

.runInfo {
  border-bottom: 1px solid #e9ecef;
}

.runInfo dt {
  min-width: 100px;
}

html,
body,
#root,
.page-wrapper {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

.page-footer {
  background-color: #33a99f;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
}

.footer-logo {
  height: 40px;
}

.modalOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modalDialog {
  z-index: 1050;
  min-width: 650px;
}

@media (max-width: 670px) {
  .modalDialog {
    min-width: 400px;
  }
}

.modalCtnr .modalMain {
  display: block;
}

.transparentBtn {
  background-color: transparent;
  color: #64172d;
}
.transparentBtn:hover {
  color: #9a3b56;
}
.transparentBtn:hover .spinHover {
  animation: fa-spin 3s infinite linear;
}

#addRunBtn {
  margin-top: 12px;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
