body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-border {
  border-top: 1px solid #dee2e6;
}

.bottom-border {
  border-bottom: 1px solid #dee2e6;
}

nav {
  background-color: #33a99f;
}
nav img {
  height: 40px;
}
nav .navbar-text {
  line-height: 1;
}

.dark-red {
  color: #64172d;
}
button.dark-red:hover {
  color: #9a3b56;
}